@model IList<Meshop.Framework.Model.Setting>


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Settings</legend>
        <table>
        @Html.EditorForModel()
        </table>
        
        
        <p>
            <input type="submit" value="Save" /> @CommonService.Message
        </p>
    </fieldset>
}