@model IEnumerable<Meshop.Framework.Model.BasicCategory>

@{
    ViewBag.Title = "Categories";
}

<h2>@ViewBag.Title</h2>

<h3>@Html.GetGlobalResource("Global","About")</h3>

<p>
    @Html.ActionLink("Create New", "Create", null, new {id="create" }) |
    @Html.ActionLink("Edit", "Edit", null, new { id = "edit" }) |
    @Html.ActionLink("Delete", "Delete", null, new { id = "delete" })
    selected
</p>


<script src="@Url.Content("~/Scripts/jstree.js")" type="text/javascript"></script>

<div id="categories">
<ul>
@foreach (var item in Model) {
    @Helpers.RecurseBasicCategory(item,Html)
            
}
</ul>
</div>

 <script type="text/javascript">

     $.jstree.THEMES_DIR = "@Url.Content("~/Scripts/jstreethemes/")";

     $jstree = $("#categories").jstree({
         "plugins": ["ui", "themes", "html_data", "crrm", "dnd"],
         "ui": { "selected_parent_close": "select_parent" },
         "themes": { "theme": "default" }
     })
         .bind("move_node.jstree", function (e, data) {
             var numberPattern = /\d+/;
             nodeId = data.rslt.o.attr("id").match(numberPattern)[0];
             position = data.rslt.p;
             targetId = data.rslt.r.attr("id").match(numberPattern)[0];
             $.get("@Url.Action("Move")", { "nodeId": nodeId, "position": position, "targetId": targetId },function(data){
                 if(data.result != "OK")
                    alert("Error while moving: " + data.result + " (nodeId: " + data.nodeId + ", position: " + data.position + ", targetId: " + targetId + ")");
               });
         })
         .bind("create_node.jstree", function (e, data) {
             alert('create');
             //data.rslt.obj.attr("id", lastId);
         });

     //$.jstree._reference("#tree");

     $("#delete").click(function (e) {
         e.preventDefault();
         if ($("#categories").jstree("get_selected")[0]) {
             nodeId = $("#categories").jstree("get_selected")[0].id.replace('id-', '');
             window.location = $("#delete").attr("href") + "?id=" + nodeId;
         }else{
            alert('Choose element to delete!');
         }

     });

     $("#create").click(function (e) {
         e.preventDefault();
         if ($("#categories").jstree("get_selected")[0])
             nodeId = $("#categories").jstree("get_selected")[0].id.replace('id-', '');
         else
             nodeId = '';
         window.location = $("#create").attr("href") + "?id=" + nodeId;
     });

     $("#edit").click(function (e) {
         e.preventDefault();
         if ($("#categories").jstree("get_selected")[0]) {
             nodeId = $("#categories").jstree("get_selected")[0].id.replace('id-', '');
             window.location = $("#edit").attr("href") + "?id=" + nodeId;
         } else {
             alert('Choose element to edit!');
         }

     });    
 
      </script> 