@model Meshop.Framework.Model.BasicProduct

<h2>Plain Nested Action</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/messages_cs.js")" type="text/javascript"></script>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true,"Fix it!")

    @Html.HiddenFor(m => m.ProductID)
    @Html.HiddenFor(m => m.Name)
    
    @Html.LabelFor(m=>m.Price)    
    @Html.EditorFor(m => m.Price)

    <input type="submit" value="OK" />
}