@model IEnumerable<Meshop.Framework.Model.Order>

@{
    ViewBag.Title = "Orders";
}

<table>
    <tr>
        
        <th>
           Customer
        </th>
        <th>
            Email
        </th>
        <th>
            Order Date
        </th>
        <th>
            Total Price
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total) @ViewBag.Settings.CURRENCY_SIGN
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
        </td>
    </tr>
}

</table>