@model Meshop.Reviews.Models.Review
@{
    ViewBag.Title = "Reviews";
}

<h2>Reviews Index</h2>

<fieldset>
    <legend>@T("Review")</legend>

    <div class="display-label">@Html.LabelFor(model => Model.Product)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.Name)
    </div>

    <div class="display-label">@Html.LabelFor(model => Model.Customer.FullName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Customer.FullName)
    </div>
    
    <div class="display-label">@Html.LabelFor(model => Model.Text)</div>
    <div class="display-field">
        @Html.DisplayFor(model => Model.Text)
    </div>

</fieldset>

<p>@User.Identity.Name</p>